<h2>Dashboard</h2>
<div id="stuff">
	<h4>Welcome <em>{{user.name}}</em></h4>

	{{#each stuff}}
	<p>{{ greeting }} {{ subject }}</p>
	{{/each}}

	<hr>
  <form action = "/dashboard" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input name="title" type="name" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="summary">Summary</label>
      <input name="summary" type="name" class="form-control" id="summary" placeholder="Summary">
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input name="author" type="name" class="form-control" id="author" placeholder="Author">
    </div>
    <div class="form-group">
      <label for="image">ImageURL</label>
      <input name="image" type="url" class="form-control" id="image" placeholder="ImageURL">
    </div>
    <button type="submit" class="btn btn-inverse btn-lg">Add New Article</button>

  </form>
</div>

<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Advanced TODO</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>Create a article submission page (that the above button links to or shows)</li>
      <li>Save the contents of this to the articles.json "database" :)</li>
    </ul>
  </div>
</div>