body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* Navigation style */

.navbar-inverse {
	background-image: linear-gradient(to bottom, #D9260F 0, #B81208 100%);
	border-color: #666666;
}

.navbar-inverse .navbar-brand {
	color: yellow !important;
}

.navbar-inverse .navbar-brand:hover {
	color: orange;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

/* Utilities */

.padding {
  padding-top: 12px;
}

.img {
  padding-top: 20px;
  border: solid 1px #e0e0e0;
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}

/*styte for jumbotron*/
.jumbotron{
  background-image: url("/./img/img4.jpg");
}
.jumbotron h1{
  color:white;
}
.jumbotron p{
  color:white;
}
/*style for article img*/

#articles div img{
  width:360px;
  height:300px;
}
#articles div h3{
  height:80px;
}
#articles div p{
  height: 200px;
}

/*tools*/
.done{
  color:blue;
}